.projects-wrapper {
  position: fixed;
  width: 90vw;
  max-width: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;

  /* border: 1px dashed red; */
}

.projects {
  height: 100%;
  width: 2px;
  border: 1px solid var(--menu-color-projects);
  border-radius: var(--menu-border-radius);
  color: white;

  background-color: var(--menu-bg-transparent);

  position: relative;
  top: -50%;

  overflow: hidden;
}

.projects .heading {
  width: 100%;

  margin-bottom: auto;

  background-color: var(--menu-bg-color);

  border-bottom: 1px solid var(--menu-color-projects);
  border-radius: var(--menu-border-radius) var(--menu-border-radius) 0 0;

  z-index: 1;
}

.projects .title {
  width: 100%;

  font-size: 1.5em;

  color: var(--menu-color-projects);

  display: flex;
  justify-content: center;

  padding: 1em 0;

}


.projects .text {
  color: white;

  font-size: 1em;

  margin: 0 auto;
  margin-top: 0.25em;

  overflow: hidden;
  white-space: nowrap;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.projects .text > div {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 0.25em;
  padding-top: 1em;

  /* border: 1px dashed blue; */
}

.projects .text .label {
  width: 100%;

  font-weight: bold;
  font-size: 1.2em;
  color: var(--menu-color-projects);
  text-align: center;
  /* padding-right: 1em; */

  /* border: 1px dashed red; */
}

.projects .text ul {
  width: 100%;

  margin-top: 0.5em;
  padding: 0;
  list-style-type: none;
  text-align: center;

  /* border: 1px dashed pink; */
}

.projects .text ul li {
  color: white;
  margin: 0;

  /* border: 1px dashed white; */
}