.projects-wrapper {
  position: fixed;
  width: 90vw;
  max-width: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;

  /* border: 1px dashed red; */
}

.projects {
  height: 100%;
  width: 2px;
  border: 1px solid var(--menu-color-projects);
  border-radius: var(--menu-border-radius);
  color: white;

  background-color: var(--menu-bg-transparent);

  position: relative;
  top: -50%;

  overflow: hidden;
}

.projects .heading {
  width: 100%;

  margin-bottom: auto;

  background-color: var(--menu-bg-color);

  border-bottom: 1px solid var(--menu-color-projects);
  border-radius: var(--menu-border-radius) var(--menu-border-radius) 0 0;

  z-index: 1;
}

.projects .title {
  width: 100%;

  font-size: 1.5em;

  color: var(--menu-color-projects);

  display: flex;
  justify-content: center;

  padding: 1em 0;
}


.projects .content {
  color: white;

  font-size: 1em;

  /* border: 1px dashed red; */
}

.projects .content .row {
  display: flex;
  /* border: 1px dashed lime; */
}

.projects .content .row .photo {
  flex: 0.4;
  /* width: 50%; */
  /* display: inline-block; */
  /* border: 1px dashed lime; */
}

.projects .content .row .description {
  flex: 0.6;
  border: 1px dashed pink;
  /* width: 50%; */
  /* display: inline-block; */
  /* border: 1px dashed yellow; */
}

.projects .content .row .description .title {
  border: 1px dashed green;
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

.projects .content .row .description ul {
  list-style-type: none;
  padding: 0;

  border: 1px dashed red;
}

.projects .content .row .description ul li {
  margin-bottom: 0.2em;
}

.projects .button-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
}

.projects svg {
  width: 50%;
  animation: btn-projects-color var(--btn-flash-speed) infinite;
  -webkit-animation: btn-projects-color var(--btn-flash-speed) infinite;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
}

.projects .button-wrapper svg.btn-right {
  margin-left: auto;
}

@keyframes btn-projects-color {
  0% { color: transparent; }
  100% { color: var(--menu-color-projects) }
}

@media only screen and (max-height: 820px) and (max-width: 500px) {
  .projects-wrapper {
    max-height: 95%;
  }
  .projects {
    width: 95%;
  }
  .projects .content .row .description ul li {
    /* display: none; */
    font-size: 0.5em;
  }
  .projects svg {
    position:  absolute;
    z-index: 12; 
  }
}