:root {
  --main-color: lime;
}

.plate {
  color: var(--main-color);
  background: transparent;
  width: 100%;
  font-size: 1.5em;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 4px;

  min-height: 192px;

  border: 1px solid var(--main-color);
}

.heading {
  width: 100%;
  margin-bottom: auto;
}

.name {
  font-family: 'Black Ops One';
  color: var(--main-color);
  font-size: 2em;
  background: transparent;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.menu {
  position: relative;
  background-color: #545454;
  width: 100%;
  margin-top: auto;
}

.menu .menu-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.hr {
  margin-top: 16px;
  width: 100%;
  height: 1px;
  background-color: var(--main-color);
}
