.skills {
  height: 100%;
  width: 100%;
  border: 1px solid var(--menu-color);
  border-radius: var(--menu-border-radius);
  color: white;

  position: relative;
  top: -50%;

  border: 1px dashed yellow;
}