.summary {
  color: var(--menu-color);
  font-size: 1.5em;
  background-color: var(--menu-bg-color);
  background-color: #121212d0;
  border-radius: var(--menu-border-radius);
  border: 1px solid var(--menu-color);

  width: 100%;
  min-height: 192px;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  z-index: 2;

  overflow: hidden;
}

.summary .heading {
  width: 100%;
  margin-bottom: auto;
  background-color: var(--menu-bg-color);
  border-bottom: 1px solid var(--menu-color);
  border-radius: var(--menu-border-radius) var(--menu-border-radius) 0 0;
  z-index: 1;
}

.summary .name {
  font-family: 'Black Ops One';
  color: var(--menu-color);
  font-size: 2em;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.summary .title {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.summary .text {
  color: white;
  font-size: 0.6em;
  position: absolute;
  bottom: 5em;
  margin: 0 auto;
  padding: 0 6em;
  word-break: keep-all;
  white-space: pre-wrap;
}

.summary svg {
  position: absolute;
  margin: 0 auto;
  bottom: 0;
  animation: arrow-color 1s infinite;
  animation-timing-function: ease-out;
}

@keyframes arrow-color {
  0% { color: transparent; }
  100% { color: var(--menu-color) }
}