@import "../../../_global.scss";

.education-item {
  width: 80%;
  background: $submenu-bg;
  border-radius: $menu-border-radius;
  margin: 2em;
  padding: 1em;

  .school {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.25em;
    white-space: pre-wrap;
  }

  .date {
    text-align: center;
    color: grey;
    margin-bottom: 1em;
  }

  .description {
    text-align: center;
    white-space: pre-wrap;
  }
}