.education-item {
  width: 80%;
  background: rgba(255, 255, 255, 0.025);
  border-radius: 4px;
  margin: 2em;
  padding: 1em; }
  .education-item .school {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.25em;
    white-space: pre-wrap; }
  .education-item .date {
    text-align: center;
    color: silver;
    margin-bottom: 1em; }
  .education-item .description {
    text-align: center;
    white-space: pre-wrap; }
