footer {
  z-index: 3;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 800px;
  height: 50px;
  display: flex;
  background-color: rgba(105, 105, 105, 0.8);
  overflow: visible; }
  footer .btn-footer {
    flex: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: white;
    cursor: pointer; }
    footer .btn-footer:hover {
      background-color: rgba(197, 197, 197, 0.8); }
    @media only screen and (max-width: 600px) {
      footer .btn-footer {
        font-size: 0.8em; } }
  footer .progress-track {
    position: absolute;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: black; }
  footer .progress-indicator-wrapper {
    position: absolute;
    height: 20%;
    width: 2%; }
    footer .progress-indicator-wrapper .progress-indicator {
      position: relative;
      right: 50%;
      height: 100%;
      width: 100%;
      background-color: #dfdfdf;
      z-index: 4; }
