@import "../../../_global.scss";

.project {
  width: 90%;
  margin: 1em auto;
  display: flex;
  background: $submenu-bg;
  border-radius: $menu-border-radius;
  padding: 1em;


  a {
    color: $subtitle-color;
    text-decoration: none;
  }

  .image {
    flex: 0.4;
    width: 40%;

    img {
      width: 100%;
    }
  }

  .description {
    font-size: 0.9em;
    flex: 0.6;
    padding-left: 1em;

    .project-title {
      display: flex;
      justify-content: flex-start;
      padding: 0;

      font-weight: bold;
      font-size: 1.25em;

    }

    ul {
      list-style-type: square;
      padding: 0;
      margin-left: 1.5em;

      li {
        margin-bottom: 0.5em;
      }
    }
  }
}

