.project-row {
  width: 100%;
  margin: 1em;
  display: flex; }
  .project-row .image {
    flex: 0.4; }
    .project-row .image img {
      max-width: fill-available;
      margin: 0 1em; }
  .project-row .description {
    font-size: 0.9em;
    flex: 0.6; }
    .project-row .description .project-title {
      display: flex;
      justify-content: flex-start;
      padding: 0;
      font-weight: bold;
      font-size: 1.25em; }
      .project-row .description .project-title a {
        color: white; }
    .project-row .description ul {
      list-style-type: circle;
      padding: 0;
      margin-left: 1.5em; }
      .project-row .description ul li {
        margin-bottom: 0.5em; }
