$menu-bg-color: #121212;
$menu-bg-transparent: rgba(32, 32, 32, 0.75);

$submenu-bg: rgba(255, 255, 255, 0.025);
$submenu-bg-active: rgba(255, 255, 255, 0.05);

$menu-border-radius: 4px;
$btn-flash-speed: 2s;

$summary-color: lime;

$font-intro-title: 'Black Ops One';
$font-title: 'Russo One';
$font-subtitle: 'Russo One';
$font-content: 'Ubuntu Mono';

$subtitle-color: silver;