:root {
  --menu-color-summary: lime;
  --menu-color-skills: red;
  --menu-color-projects: cyan;
  --menu-color-education: yellow;
  --menu-bg-color: #121212;
  --menu-bg-transparent: rgba(32, 32, 32, 0.75);
  --menu-border-radius: 4px;
  --btn-flash-speed: 1s; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: 'Ubuntu Mono', monospace;
  background: black; }

.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ }

.hide {
  visibility: hidden; }

svg.nav {
  width: 48px;
  animation: btn-opacity var(--btn-flash-speed) infinite;
  animation-timing-function: ease-out;
  cursor: pointer; }

@keyframes btn-opacity {
  0% {
    opacity: 0.0; }
  100% {
    opacity: 1.0; } }
